@font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.eot?#iefix') format('embedded-opentype'), url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.woff') format('woff'), url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.eot?#iefix') format('embedded-opentype'), url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.woff') format('woff'), url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Black.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Black.eot?#iefix') format('embedded-opentype'), url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Black.woff') format('woff'), url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel-Black.ttf') format('truetype');
    font-weight: 900;
}

* {
    font-family: Sahel, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-align: right !important;
}

@media (min-width: 320px) {
    p {
        color: red;
    }
    .back-img {
        background-image: url(../img/mobile.png) !important;
    }
}

@media (min-width: 481px) {
    p {
        color: red;
    }
    .back-img {
        background-image: url(../img/tabletmode.png) !important;
    }
}

@media (min-width: 1024px) {
    p {
        color: red;
    }
    .back-img {
        background-image: url(../img/fullbakground.png) !important;
    }
    .header-blue .navbar-nav .nav-link {
        padding-left: .2rem;
        padding-right: .7rem
    }
}

@media (min-width:768px) {
    .navbar-nav {
        flex-direction: row;
        white-space: nowrap;
    }
    .header-blue {
        padding-bottom: 120px
    }
    .header-blue .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .header-blue .navbar .navbar-collapse {
        border-color: transparent;
        margin: 0
    }
    .header-blue .navbar-nav .nav-link {
        padding-left: .7rem;
        padding-right: .7rem
    }
    .header-blue .hero {
        margin-top: 25px;
        text-align: left
    }
    .header-blue .hero h1 {
        color: #fff;
        font-size: 2.2rem;
        margin-top: 0;
        margin-bottom: 3rem;
        font-weight: 300;
        line-height: 1.4
    }
}

@media (min-width:992px) {
    .header-blue .hero h1 {
        margin-top: 130px;
        margin-bottom: 24px;
        line-height: 1.2;
    }
    .header-blue .hero p {
        color: rgba(255, 255, 255, .8);
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 300
    }
    .header-blue .phone-holder {
        text-align: right
    }
    .header-blue div.phone-mockup {
        position: relative;
        max-width: 300px;
        margin: 20px;
        display: inline-block;
        z-index: 1
    }
    .header-blue .phone-mockup img.device {
        width: 100%;
        height: auto
    }
    .header-blue .phone-mockup .screen {
        position: absolute;
        width: 94%;
        height: 98%;
        top: 1%;
        left: 3%;
        border: 1px solid #444;
        border-radius: 20px;
        overflow: hidden;
        background: url(../../assets/img/screen-content-phone.jpg) center/cover;
        z-index: -1
    }
    .header-blue .phone-mockup .screen:before {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 70%;
        height: 140%;
        top: -12%;
        right: -60%;
        transform: rotate(-19deg);
        opacity: .2;
    }
}

.back-img {
    height: 50rem;
    background-position: left top !important;
    background-size: cover !important;
}

.bction {
    direction: rtl;
    text-align: right;
}

.back-color {
    background-color: rgb(230, 230, 230);
}

.butten {
    padding: 0.4rem 1.8rem;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 300px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 300px;
}


/* Taller footer on small screens */

@media (max-width: 567em) {
    body {
        margin-bottom: 700px;
    }
    .footer {
        height: 250px;
    }
}


/* Sticky footer style and color
  -------------------------------------------------- */

footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}


/* Credits: https://www.codeply.com/p/EJd6H4Ejyi */


/* search box */

.search-box {
    border: solid 2px #3a393f;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    margin-left: 10px;
}

.search-box input[type="text"] {
    font-family: Raleway, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 15px;
    height: 25px;
    padding: 5px 20px 3px 5px;
    border: none;
    box-sizing: border-box;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, #9eb5c5, #728fa1);
    transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
}

.search-box input[type="text"]:focus {
    padding-right: 30px;
    outline: none;
}

.search-box input[type="text"]:focus,
.search-box input[type="text"]:not(:placeholder-shown) {
    width: 200px;
    transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.search-box input[type="text"]:focus+button[type="reset"],
.search-box input[type="text"]:not(:placeholder-shown)+button[type="reset"] {
    bottom: 5px;
    right: 5px;
    transition: bottom 150ms ease-out 800ms, right 150ms ease-out 800ms;
}

.search-box input[type="text"]:focus+button[type="reset"]:after,
.search-box input[type="text"]:not(:placeholder-shown)+button[type="reset"]:after {
    top: 0;
    right: 10px;
    opacity: 1;
    transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
}

.search-box button[type="reset"] {
    background-color: transparent;
    width: 21px;
    height: 11px;
    border: 0;
    padding: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -7px;
    right: -9px;
    transition: bottom 150ms ease-out 150ms, right 150ms ease-out 150ms;
}

.search-box button[type="reset"]:before,
.search-box button[type="reset"]:after {
    content: "";
    height: 11px;
    border-left: solid 2px #3a393f;
    position: absolute;
    transform: rotate(-45deg);
}

.search-box button[type="reset"]:after {
    transform: rotate(45deg);
    opacity: 0;
    top: -11px;
    right: -9px;
    transition: top 150ms ease-out, right 150ms ease-out, opacity 150ms ease-out;
}


/* end search box */


/* start parallax image */

@supports (-webkit-text-stroke: 1px black) {
    section[id^="section"] h2 {
        -webkit-text-stroke: 1.5px #2e2e2e;
        -webkit-text-fill-color: rgb(245, 245, 245);
    }
}

section[id^="section"] h2 {
    text-align: center !important;
    height: 25rem;
    line-height: 5rem;
    font-size: 2rem;
    line-height: 25rem;
    color: #ddd
}

#section3 {
    background: url("../img/Slide1CoverArt.jpeg");
    background-size: cover;
    background-attachment: fixed;
}


/* end parallax image */


/* edit footer text in little media */

.text-edit_right {
    margin-top: 2.5rem;
}


/* end edit */